data/*
!data/manual/

example/.ipynb_checkpoints/
test/__pycache__/
src/open-grid-emissions/__pycache__/

CHANGELOG.md

notebooks/visualization/outputs/*

# Python 
notebooks/.ipynb_checkpoints
notebooks/*/.ipynb_checkpoints
.hypothesis/

# Mac junk
.DS_Store

# VS Code
.vscode/
