[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
ipykernel = "*"
singularity-energy = "*"
pandas = "*"
openpyxl = "*"
matplotlib = "*"
sqlalchemy = "*"
dask = "*"
requests = "*"
statsmodels = "*"
plotly = "*"
missingno = "*"
tabulate = "*"

[dev-packages]
pytest = "*"
responses = "*"

[requires]
python_version = "3.10"
