[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cvxopt = "*"
cvxpy = "*"
osqp = "*"
ipykernel = "*"
notebook = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
plotly = "*"
pyarrow = "*"
qdldl = "*"
requests = "*"
seaborn = "*"
sqlalchemy = "*"
statsmodels = "*"
coloredlogs = "*"
"catalystcoop.pudl" = {git = "git+https://github.com/singularity-energy/pudl.git@oge_release"}
gridemissions = {git = "git+https://github.com/singularity-energy/gridemissions"}
oge = {git = "git+https://github.com/singularity-energy/open-grid-emissions"}

[dev-packages]
ruff = "*"
pytest = "*"

[requires]
python_version = "3.11"
