cvxopt
cvxpy
osqp
ipykernel
notebook
numpy
openpyxl
pandas
plotly
pyarrow
pytest
ruff
python-snappy
qdldl
requests
seaborn
sqlalchemy
statsmodels
coloredlogs
git+https://github.com/singularity-energy/pudl.git#egg=catalystcoop.pudl
git+https://github.com/gailin-p/gridemissions#egg=gridemissions
